{% extends "base.html" %}
{% block content %}
 <div class="container">

   <form class="form-signin" action="{{ request.path }}" method="post">
     {% csrf_token %}
        <h2 class="form-signin-heading">Saioa hasi behar duzu</h2>
        <label for="inputEmail" class="sr-only">Erabiltzaile izena</label>
        <input type="text" name="username" id="inputEmail" class="form-control" placeholder="Erabiltzaile izena" required autofocus>
        <label for="inputPassword" class="sr-only">Pasahitza</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
          <input class="btn btn-lg btn-primary btn-block" type="submit" value="Sartu" />
          {% if next %}
          <input type="hidden" name="next" value="{{ next }}" />
          {% endif %}
      </form>

    </div>
{% endblock %}
